<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FabricStoreProject.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <FabricStoreProject.My.MySettings>
            <setting name="Server" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>FabricStoreDB</value>
            </setting>
            <setting name="SQLLogin" serializeAs="String">
                <value>AppUser</value>
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value>111</value>
            </setting>
            <setting name="AdminUser" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="AdminPassword" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="ActiveColor" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupClosing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoBackupName" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoBackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupMaxDays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartReciptID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartCashID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CompanyLogo" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyArabicName" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyEnglishName" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyPhone1" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyPhone2" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedUser" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BtnColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="PanelColor" serializeAs="String">
                <value />
            </setting>
            <setting name="SystemColors" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="ColorDark" serializeAs="String">
                <value>38, 50, 56</value>
            </setting>
            <setting name="ColorPrimary" serializeAs="String">
                <value>55, 71, 79</value>
            </setting>
            <setting name="ColorLight" serializeAs="String">
                <value>165, 177, 183</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>yyyy-MM-dd</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>hh:mm tt</value>
            </setting>
            <setting name="PageSize" serializeAs="String">
                <value>5</value>
            </setting>
        </FabricStoreProject.My.MySettings>
    </userSettings>
</configuration>